<h1>Listing sentences</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <!-- <th>Language</th>
      <th>Master sentence</th>
      <th>Categories</th> -->
     <!--  <th></th>
      <th></th>
      <th></th> -->
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td>
          <% lang = current_user.mothertongue_id %>
              <% lang = Language.find(lang) %>
              <% lang = lang.language %>
              <% if lang == 'french' %>
                <%= link_to sentence.french, lang, class: 'show-text' %>
              <% elsif lang == 'spanish' %>
                <%= link_to sentence.spanish, lang, class: 'show-text' %>
              <% else %>
                <%= link_to sentence.sentence, lang, class: 'show-text' %>
              <% end %>
        </td>
        <td>
              <a href="#">
                <span id="dummy" onclick="playSound(this, 'assets/<%= sentence.sentence %>.wav');">
                  <span class="glyphicon glyphicon-play-circle">
                  </span>
                </span>
              </a>
            </td>
            <td>
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign">
                </span>
              </a>
            </td>
            <td class="sentence-no-<%= sentence.id %>"><a href="#" class="translate"><span class="glyphicon glyphicon-refresh"></span></a>
            </td>
          </tr>

        <!-- <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

        <tr class="hide-text sentence-id-<%= sentence.id %>">
            <td class="sentence-no-<%= sentence.id %>">
              <% lang = current_user.targettongue_id %>
              <% lang = Language.find(lang) %>
              <% lang = lang.language %>
              <% if lang == 'french' %>
                <%= link_to sentence.french, lang %>
              <% elsif lang == 'spanish' %>
                <%= link_to sentence.spanish, lang %>
              <% else %>
                <%= link_to sentence.english, lang %>
              <% end %>
                
            </td>
            <td><a href="#"><span class="glyphicon glyphicon-play-circle"></span></a></td>
            <td><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
            <td class="sentence-no-<%= sentence.id %>"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></td>
          </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentence', new_sentence_path, class: 'btn btn-success' %>
