<p id="notice"><%= notice %></p>

<p>
  <b>Sentence:</b>
  <%= @sentence.sentence %>
</p>

<p>
  <b>Spanish:</b>
  <%= @sentence.spanish %>
</p>

<p>
  <b>French:</b>
  <%= @sentence.french %>
</p>

<p>
  <b>German:</b>
  <%= @sentence.german %>
</p>

<p>
  <b>Mandarin:</b>
  <%= @sentence.mandarin %>
</p>

<p>
  <b>Arabic:</b>
  <%= @sentence.arabic %>
</p>

<p>
  <b>German:</b>
  <%= @sentence.russian %>
</p>





<p>
  <b>Categories:</b>
  <% if @sentence.categories.any? %>
  	<% @sentence.categories.each do |category| %>
  		<%= category.category %><br />
  	<% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
