<div class="text-center">
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Job</th>
        <th>Nationality</th>
        <th>City</th> 
        <th>Native language</th> 
        <th>Target language</th> 
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.jobtitle %></td>
          <td><%= user.nationality %></td>
          <td><%= user.city %></td>

          <td>
            <% if user.mothertongue_id.present? %>
              <% language = Language.find(user.mothertongue_id) %>
              <span class="flag-icon"><img src="/assets/icons_flags_<%= language.language %>.png"></span>
              <%= language.language.capitalize %><br /> 
              <% if Score.where(:user_id => user.id) %>
                <% scores = Score.where(:user_id => user.id) %>
                <% scores.each do |score| %>
                  
                  <% if score.user_id == user.id %>
                    Score: <%= score.number %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %></td>
          <td>
            <% if user.targettongue_id.present? %>
              <% language = Language.find(user.targettongue_id) %>
              <span class="flag-icon"><img src="/assets/icons_flags_<%= language.language %>.png"></span>
              <%= language.language.capitalize %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New user', new_user_path, class: 'btn btn-success' %>
</div>