<tr class="show-text word-id-<%= word.id %> language-id-<%= word.language_id %>">
  <td class="word-no-<%= word.id %>">
    <%= word.word %></td>
  <td>
    <a href="#">
      <span id="dummy" onclick="playSound(this, 'assets/<%= word.word %>.wav');">
        <span class="glyphicon glyphicon-play-circle">
        </span>
      </span>
    </a>
  </td>
  <td>
    <a href="#">
      <span class="glyphicon glyphicon-plus-sign">
      </span>
    </a>
  </td>
  <td class="word-no-<%= word.id %>"><a href="#" class="translate"><span class="glyphicon glyphicon-refresh"></span></a></td>
</tr>

<tr class="hide-text word-id-<%= word.id %> language-id-<%= word.language_id %>">
  <td class="word-no-<%= word.id %>">
    <% lang = current_user.targettongue_id %>
    <% lang = Language.find(lang) %>
    <% lang = lang.language %>
    <%= link_to word.french, lang %>
  </td>
  <td><a href="#"><span class="glyphicon glyphicon-play-circle"></span></a></td>
  <td><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
  <td class="word-no-<%= word.id %>"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></td>
</tr>