<header id="top-nav">
	<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   <!--  <ul>
		<button type="button" class="btn btn-default btn-lg">
  			<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</button>
	</ul> -->
    <a class="navbar-brand text-center" href="/"><h1 id="logo"><%= image_tag ('tila_logo_small_100.png') %><h1></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
		  
    <% if user_signed_in? %>
      <li>Hi <strong><%= current_user.email %></strong></li>
      <br />
      <li><%= link_to 'Saved content', contentusers_path %></li>
      <li>
        <% if current_user.mothertongue_id.present? %>
          <% language = Language.find(current_user.mothertongue_id) %>
          <img class="language-icon-nav" src="/assets/icons_flags_<%= language.language %>.png">
        <% end %>
        <img src="">
        <% if current_user.targettongue_id.present? %>
          <% language = Language.find(current_user.targettongue_id) %>
          <img class="language-icon-nav" src="/assets/icons_flags_<%= language.language %>.png">
        <% end %>
        <%= link_to 'Change Language', edit_user_path(current_user) %>
      </li>
     <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
    <% end %>
    </ul>
    
    
  </div><!-- /.navbar-collapse -->
</nav>
	
</header>