<div>
  <h1>Words</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @englishukwords.each do |engword| %>
        
          <tr class="show-text word-id-<%= engword.id %> language-id-<%= engword.language_id %>">
            <td class="word-no-<%= engword.id %>"><%= link_to engword.word, engword %></td>
            <td>
              <a href="#">
                <span id="dummy" onclick="playSound(this, 'assets/<%= engword.word %>.wav');">
                  <span class="glyphicon glyphicon-play-circle">
                  </span>
                </span>
              </a>
            </td>
            <td>
              <a href="#">
                <span class="glyphicon glyphicon-plus-sign">
                </span>
              </a>
            </td>
            <td class="word-no-<%= engword.id %>"><a href="#" class="translate"><span class="glyphicon glyphicon-refresh"></span></a></td>
          </tr>

            

            <% @spanishwords.each do |word| %>
              <% if word.master_word_id == engword.id %>
                <tr class="hide-text word-id-<%= word.id %> language-id-<%= word.language_id %>">
                  <td class="word-no-<%= word.id %>"><%= link_to word.word, word %></td>
                  <td><a href="#"><span class="glyphicon glyphicon-play-circle"></span></a></td>
                  <td><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
                  <td class="word-no-<%= word.id %>"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></td>
                </tr>
              <% end %>
            <% end %> 
        
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Word', new_word_path, class: 'btn btn-success' %>
</div>