<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word.word %>
</p>

<p>
  <b>Spanish:</b>
  <%= @word.spanish %>
</p>

<p>
  <b>French:</b>
  <%= @word.french %>
</p>

<p>
  <b>German:</b>
  <%= @word.german %>
</p>

<p>
  <b>Mandarin:</b>
  <%= @word.mandarin %>
</p>

<p>
  <b>Arabic:</b>
  <%= @word.arabic %>
</p>

<p>
  <b>German:</b>
  <%= @word.russian %>
</p>


<p>
  <b>Categories:</b>
  <% if @word.categories.any? %>
  	<% @word.categories.each do |category| %>
  		<%= category.category %><br />
  	<% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
