<h1>Choose a category</h1>


<ul id="myTab" class="nav nav-tabs">
  <li class="active" ><a href="#generic" data-toggle="tab"><h2>General</h2></a></li>
  <li><a href="#custom" data-toggle="tab"><h2>Custom</h2></a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="generic">
    <h2>Generic categories</h2>
    <ul class="no-padding">
    <% @categoriesgeneric.each do |g| %>
      <a href="/categories/<%= g.id %>" class="category-choice">
        <li class="black-box-border">
          <img src="/assets/<%= g.categoryicon %>" class="category-icon">
          <%= g.category %>
        </li>
      </a>
    <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="custom">
      <h2>Custom categories</h2>
      <ul class="no-padding">
      <% @categoriescustom.each do |c| %>
      <a href="/categories/<%= c.id %>" class="category-choice">
        <li class="black-box-border">
          <img src="/assets/<%= c.categoryicon %>" class="category-icon">
          <%= c.category %>
        </li>
      </a>
    <% end %>
    </ul>
  </div>
</div>

<br>
